*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: 'Roboto Condensed', sans-serif;
    /* color: whitesmoke; */
}
.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 3rem;
    /* border: 2px solid red; */
    padding: 3rem;
}
.weather-data{
    /* border: 2px solid green; */
    width: 40rem;
    height: auto;
}

.weather-forcast{
    font-size: 4rem;
    padding: 1rem;
    color: whitesmoke;
}

#search-input{
    width: 250px;
    padding: 0.5rem;
    border: 1px solid grey;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin: 0;
}

.search-button{
    border: 1px solid grey;
    width: 60px;
    margin: 0;
    padding: 0.5rem;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.search-button:hover{
    cursor: pointer;
}

.location{
    color: whitesmoke;
    margin: 1.5rem 0 ;
    display: flex;
    justify-content: center;
}
.date{
    color: whitesmoke;
    margin: 10px;
}

.weather-details{
    padding: 10px;
}

.weather-logo{
    color: whitesmoke;
    padding: 10px;
}

#Temperature{
    color: whitesmoke;
    font-size: 80px;
    font-weight: 100;
}
#wind1,#wind,#pressure{
    color: whitesmoke;
    font-weight: 400;
}

video{
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 0px;
}