*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 8rem;
    border: 2px solid red;
    padding: 5rem;
}
.weather-data{
    border: 2px solid green;
    width: 30rem;
    height: auto;
}

.weather-forcast{
    font-size: 3rem;
    padding: 1rem;
}

#search-input{
    padding: 0.5rem;
    border: 1px solid grey;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin: 0;
}

.search-button{
    border: 1px solid grey;
    width: 60px;
    margin: 0;
    padding: 0.5rem;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.search-button:hover{
    cursor: pointer;
}

.location{
    
}